@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@* <div class="row">
    <!-- /.col-lg-6 (nested) -->
    <div class="col-lg-6">
        <div class="panel-heading">
            <label>Error:</label>
        </div>
        <div class="panel-body">
            <h4 class="text-danger">@Model.ErrorMessage</h4>
        </div>
    </div>
</div> *@
<di>
<h4 class="text-danger">@Model.ErrorMessage</h4>
</div>



